# Generated go-test coverage reports
coverprofiles/
coverprofile.out

# Generated artifacts
/bin
/dist

# Test save files
/*.sav
/settings.yaml
/saves

# Packit RPM builds
/tmp
/x86_64
/aarch64
/*.rpm

# Ignore android files
/.idea
/go-minesweeper.iml
/*.keystore

# Ignore fyne build files
fyne_metadata_init.go
/FyneApp.toml
