# Generated go-test coverage reports
coverprofiles/
coverprofile.out

# Generated artifacts
/bin
/dist
/fyne-cross

# Test save files
/*.sav
/settings.yaml
/saves

# Packit RPM builds
/tmp
/x86_64
/aarch64
